<div class="container" id="callouts">
    <div class="row">
        <div class="col-md-4">
            <h2>Fast Service</h2>
            <!-- <p>Unlike other devs, who like to waste time just to increase revenue. I prefer giving the project its optimum required time</p> -->
            <p>I prefer giving the project its optimum required time. To produce the best product without wasting your time.</p>
            <p><a class="btn btn-success" href="/pages/contact" role="button">Contact me »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Addictive Ux</h2>
            <p>What makes a client impressed by your website? My websites possess amazing user interactive Ui, making them addicted to the creative experience.</p>
            <p><a class="btn btn-success" href="/pages/UI" role="button">Check them out »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Performant Webapps</h2>
            <p>My websapps not only look awesome. The functionality is highly performant (the part i mostly focus on). With regular updates and integration.</p>
            <p><a class="btn btn-success" href="/pages/apps/index.html" role="button">See them in action »</a></p>
        </div>
    </div>
</div>

<div class="container" id="callouts">
    <div class="row">
        <div class="col-md-12">
            <h2>Need More?</h2>
            <p>As a hobbyist, I develop native mobile applications with kivy & ReactNative(iOS/android). Though, not being a jack-of-all-trades, I focus mostly on web.
            </p>
            <p><a class="btn btn-success" href="/pages/skills">View Skillset »</a></p>
        </div>
    </div>
</div>
