
<div class="jumbotron" id="parallax" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative;">
    <div class="parallax-wrap">
        <div class="layer" data-depth=".3" style="transform: translate3d(-3.73465px, 6.88692px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
            <img src="/assets/bg.png">
        </div>
    </div>
  
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="@/lib/buttons.js"></script>

    <div class="container">
        <img src="/assets/dexie-logo-icon.svg" class="dexie-logo-icon">
        <h1>Rayyan Nafees</h1>
        <p>nafees.rayyan@gmail.com</p>
        <span class="size-details">( Creator of PyScript framework )</span>
        <div style="display: inline-flex;">
            <div style="flex: 1; padding: 0 2px 0 0;">
                <a class="getstarted btn btn-primary btn-lg" href="/pages/resume" role="button">
                    <!-- <span class="glyphicon glyphicon-flash"></span> -->
                    <span class="widescreen">View Resume </span>
                    <span class="slimscreen">View Resume</span>
                </a>
            </div>
            <div style="flex: 1; padding: 0 2px 0 0;" class="widescreen">
                <a class="btn btn-primary btn-lg" style="max-width: 8em;" href="pages/contact" role="button">
                    <!-- <span class="glyphicon glyphicon-edit"></span> -->
                    <span>Contact</span>
                    <!--<span>Resume</span>-->
                </a>
            </div>
        </div>

        <a href="/pages/projects" id="cloud-promoter">
            <div class="shoutouts">
                <p>Full Stack Web Developer</p>
                <p>Proficient in Ui/Ux & many Frontend techs.</p>
                <p>Skilled in React.js, Angular.js & the like</p>
                <p>Expertise in Flask & Django Backends</p>
                <p>Experienced in NodeJS & ExpressJS</p>
                <p>Database manager using SQL servers</p>
            </div>
            <p>project catalog<span style="display: inline-block; margin-left: -1em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;»</span></p>
        </a>
    </div>
</div>
