<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li>
      <a href="https://github.com/PyFam/"
        ><img
          src="/assets/dexie-logo-icon-menu-dark-img.svg"
          class="dexie-logo-icon-menu"
        />PyFam<span class="beta">BETA</span></a
      >
    </li>
    <li class="dropdown">
      <a
        href="#"
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false">Projects<span class="caret"></span></a
      >
      <ul class="dropdown-menu">
        <li><a href="https://shadowcam.netlify.app/">Webcam Perfect</a></li>
        <li><a href="pages/apps/text2speech.html">txt2speech</a></li>
        <li><a href="https://preming.herokuapp.com">Ming chatapp</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="https://livelyzone.herokuapp.com/">Lively Zone</a></li>
        <li>
          <a href="https://jaininfosoft.netlify.app">Jain Info App</a>
        </li>
      </ul>
    </li>
    <!--                     <li class="dropdown">
                  <a href="https://rayyannafees.github.io/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="http://stackoverflow.com/questions/tagged/dexie">Dexie Questions on StackOverflow</a></li>
                      <li><a href="https://github.com/dfahlander/Dexie.js/issues?utf8=%E2%9C%93&amp;q=is%3Aissue%20label%3Aquestion">Questions on GitHub</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="http://stackoverflow.com/questions/ask?tags=dexie">Ask new question on Stackoverflow (best chance for a reply)</a></li>
                      <li><a href="https://github.com/dfahlander/Dexie.js/issues/new">File a GitHub issue on Dexie.js</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="https://#/contact">Contact</a></li>
                  </ul>
              </li> -->
    <li class="dropdown">
      <a
        href="#"
        class="dropdown-toggle"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false">Contact Me<span class="caret"></span></a
      >
      <ul class="dropdown-menu" style="transition:.4s">
        <li>
          <a target="_blank" href="tel:+919359939246"
            ><img class="icon" src="/assets/whatsapp.png" /> WhatsApp</a
          >
        </li>
        <li>
          <a target="_blank" href="https://facebook.com/rayyan.nafees"
            ><img class="icon" src="/assets/fb.png" /> Facebook</a
          >
        </li>
        <li>
          <a target="_blank" href="https://github.com/RayyanNafees/"
            ><img class="icon" src="/assets/github-desktop-icon.svg" /> Github</a
          >
        </li>
        <li>
          <a target="_blank" href="https://www.flightradar24.com/"
            ><img class="icon" src="/assets/linkedin.png" /> Linked in</a
          >
        </li>
        <li>
          <a target="_blank" href="mailto:https://nafees.rayyan@gmail.com/"
            ><img class="icon" src="/assets/gmail.png" /> Gmail</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://instagram.com/rayyan-nafees-4626931b7"
            ><img class="icon" src="/assets/insta.jpg" /> Instagram</a
          >
        </li>
      </ul>
    </li>
    <li><a href="pages/contact">Contact </a></li>

    <li>
      <a href="https://www.youtube.com/channel/UCOtssHDSQfokz8sStpSCSsQ"
        >YouTube
      </a>
    </li>
    <li>
      <a href="https://rayyandroid.blogspot.com/" class="cursorsHover">Blog </a>
    </li>
  </ul>
</div>
