
<!doctype html>
<html data-lt-installed="true">
  <head>
    <title>Rayyan Nafees - Fullstack Web Developer</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Fullstack Web developer with High Proficiency in both Backend & Frontend technologies. Known for projectcompletion as fast & interactive as possible withresponsive & attractive Ui design. A mobile app developertoo working with ReactNative, python kivy"
    />
    <meta
      name="google-site-verificatio n"
      content="bFdw7dX5NwJCo_bf9zjRqrunuZ6aHBpIEpBX3oy3It M"
    />

    <link rel="shortcut icon" href="./assets/favicon-yuri.png" />

  </head>

  <body class="language-javascript">
<slot />

  </body>
  </html>
  